<rb-blockUI [target]="searchCol" #blockUI></rb-blockUI>
<div class="container wall-container">

    <div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-9" #searchCol>

            <rb-artist-tag-search></rb-artist-tag-search>

            <p-paginator rows="8" [totalRecords]="rowCount" [rowsPerPageOptions]="[8,16,24]" (onPageChange)="paginate($event)"></p-paginator>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-9">
            <div class="col-md-3 col-sm-4 wall-col wall-hover" *ngFor="let artist of artists">
                <div class="wall-selection" [ngClass]="{'active': isActive(artist) }" (click)="onSelect(artist)">
                    <img class="img-responsive" [src]="imgBase64(artist.file.content)" draggable="false">
                    <div class="overlay">
                        <h5>{{artist.description}}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3">.col-md3</div>
        <div class="col-md-9">

            <div class="selection" [ngClass]="{'active': deploySelection }">
                <div (click)="deploySelection=!deploySelection">
                    <span class="glyphicon glyphicon-th-large"></span>
                </div>

                <div class="selection-item wall-col" *ngFor="let artist of getModelSelection()">
                    <img class="img-responsive" [src]="imgBase64(artist.file.content)" draggable="false">
                </div>
            </div>

        </div>
    </div>

</div>