<div>
    <div class="social-buttons">
        <rb-facebook-signin></rb-facebook-signin>
        <a href="#" class="button btn-tw small fit"><i class="fa fa-twitter"></i> Twitter</a>
    </div>
    or
    <form [formGroup]="myForm" (ngSubmit)="onSignin()">
        <div class="form-group">
            <input formControlName="userName" placeholder="User Name" type="text" id="userName" class="form-control">
        </div>
        <div class="form-group">
            <input formControlName="password" id="password" placeholder="Password" type="password" class="form-control">
            <div class="help-block text-right"><a href="">Forget the password ?</a></div>
        </div>
        <div class="form-group">
            <input type="submit" [disabled]="!myForm.valid" value="Sing in" class="button special fit" />
        </div>
    </form>
</div>