<section id="signup" class="major">
    <div class="inner">
        <header class="major">
            <h2>Please sign up to use all features</h2>
        </header>
        <form [formGroup]="myForm" (ngSubmit)="onSignup()">
            <div class="field">
                <label for="email">E-Mail</label>
                <input formControlName="email" type="email" id="email" #email class="form-control">
                <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
            </div>
            <div class="field">
                <label for="userName">User name</label>
                <input formControlName="userName" type="text" id="userName" class="form-control">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input formControlName="password" type="password" id="password" class="form-control">
            </div>
            <div class="field">
                <label for="confirm-password">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword class="form-control">
                <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
            </div>
            <ul class="actions">
                <li><input type="submit" [disabled]="!myForm.valid" value="Sing Up" class="special" /></li>
            </ul>
        </form>
    </div>
</section>