<section id="signin" class="major">
    <div class="inner">
        <header class="major">
            <h2>Please sign in to use all features</h2>
        </header>
        <form [formGroup]="myForm" (ngSubmit)="onSignin()">
            <div class="field half first">
                <label for="username">User name</label>
                <input formControlName="username" type="text" id="username" class="form-control">
            </div>
            <div class="field half">
                <label for="password">Password</label>
                <input formControlName="password" type="password" id="password" class="form-control">
            </div>
            <ul class="actions">
                <li><input type="submit" [disabled]="!myForm.valid" value="Sing in" class="special" /></li>
                <rb-facebook-signin></rb-facebook-signin>
            </ul>
        </form>
    </div>
</section>