@import '../../../assets/sass/libs/index';

#signin {
	border-bottom: solid 1px _palette(border);
	overflow-x: hidden;

	> .inner {
		padding: 0 !important;

		> :nth-child(2n - 1) {
			@include padding(4em, 0, (0, 3em, 0, 0));
			width: 40%;
		}
	}

	&.major {
		height: 75vh;
		min-height: 30em;
		max-height: 50em;

		&.alt {
			opacity: 0.75;
		}
	}

	@include breakpoint(medium) {
		> .inner {
			display: block;

			> :nth-child(2n - 1) {
				@include padding(4em, 0, (0, 0, 0, 0));
			}
		}
	}

	@include breakpoint(small) {
		> .inner {
			> :nth-child(2n - 1) {
				@include padding(3em, 0, (0, 0, 0, 0));
			}
		}
	}
}		