<div class="container wall-container">
    <div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-9">
            <div class="col-md-3 col-sm-4 wall-col" *ngFor="let documentType of documentTypes">
                <img class="img-responsive" src="http://kyototraditions.com/images/large/11046c%20shoki.jpg">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="http://placehold.it/350x200" alt="">
                <div class="overlay">
                    <h2>Effect 10</h2>
                    <p class="icon-links">
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div [highlight]="'blue'" [defaultColor]="'red'">Some Text</div>
<div *unless="false" class="ZARAZA">Conditional Text</div>