<!--
<div class="container wall-container">
    <div class="col-sm-4 col-lg-3 wall-col" *ngFor="let documentType of documentTypes">
        <img class="card-img-top img-fluid" src="http://harashobo.com/img/13128_3.jpg" alt="Card image cap">
        <div class="card card-inverse card-block wall-card" style="background-color: #333; border-color: #333;">
            <span class="label label-default">{{documentType.description}}</span>
            <p class="card-text">{{documentType.summaryDescription}}</p>
            <button type="button" class="button next scrolly">
            <i class="fa fa-facebook fa-fw"></i> Sign in
        </button>
        </div>
    </div>
</div>
-->
<div class="container wall-container">
    <!--<div class="row">-->
        <div class="col-sm-4 col-lg-3 wall-col" *ngFor="let documentType of documentTypes">
            <img class="img-rounded img-responsive" src="http://kyototraditions.com/images/large/11046c%20shoki.jpg">
        </div>
    <!--</div>-->
</div>