@import '../../../assets/sass/libs/index';

.wall-container{
    background:rgba(84, 131, 86, 0.9); //_palette(border-bg)
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.wall-col{
    padding: 0.1em;
}

.wall-selection {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

  .overlay {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 0.1em;
    background: _palette(highlight);
    color: #3c4a50;
  }
  
  img {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    display: block;
    position: relative;
  }

  h5 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    margin: 0px;
    display: inline-block;
  }

  &.active {

      .overlay {
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
      }

      img {
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
      }

      h5 {
          -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
          -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
      }
  }
  
}

.wall-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: _palette(highlight);
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before, &:focus:before, &:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 4px;
  }
}


/* caca */
.left {
  float: left;
  height: 100vh;
  background: #337ab7;
  display: block;
  white-space: nowrap;
  width: 50px;
  transition: width 1s;
  position: absolute;
  &:hover {
    width: 250px;
  }
}

.item:hover {
  background-color: #ccc;
}

.left .glyphicon {
  margin: 15px;
  width: 20px;
  color: #fff;
}

span.glyphicon.glyphicon-refresh {
  font-size: 17px;
  vertical-align: middle !important;
}

.item {
  height: 50px;
  overflow: hidden;
  color: #fff;
}