<div *ngIf="error" class="alert alert-danger">Global error: {{error.status}} - {{error.statusText}}</div>

<div class="container-fluid" *ngIf="!error">

  <div class="row">

    <div class="col-md-6">
      <ul class="list-group">
        <rb-document-type-item *ngFor="let documentType of documentTypes" [documentType]="documentType"></rb-document-type-item>
      </ul>
    </div>

    <div class="col-md-6">
      <p-panel header="Title">
        Content
      </p-panel>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <!--<p-autoComplete [(ngModel)]="text" [suggestions]="results" [dropdown]="true" (completeMethod)="search($event)" field="description"></p-autoComplete>-->
    </div>

    <div class="col-md-6">
      <p-dataTable [value]="documentTypes" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <header>List of Cars</header>
        <p-column field="description" header="Description"></p-column>
        <p-column header="Color">
          <template let-col let-car="rowData">
            <img class="img-responsive" src="http://harashobo.com/img/13128_3.jpg" style="max-height: 50px;" />
          </template>
        </p-column>
      </p-dataTable>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <p-tabView>
        <p-tabPanel header="Godfather I" leftIcon="fa-calendar">
          <img class="img-responsive" src="http://harashobo.com/img/13128_3.jpg" style="max-height: 50px;" /> The story begins
          as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael
          has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's
          life the nature of the family business becomes clear. The business of the family is just like the head of the family,
          kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against
          the good of the family.
        </p-tabPanel>
        <p-tabPanel header="Godfather II" leftIcon="fa-print">
          Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito
          Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of
          the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia
          kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little
          Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci
          gone, Vito's communal stature grows.
        </p-tabPanel>
        <p-tabPanel header="Godfather III" leftIcon="fa-bell-o" rightIcon="fa-bookmark-o">
          After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third
          and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone,
          now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely
          legitimate.
        </p-tabPanel>
      </p-tabView>
    </div>

    <div class="col-md-6">
      <p-carousel headerText="Dcument Types" [value]="documentTypes">
        <template let-dt>
          <div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12"><img class="img-responsive" src="http://harashobo.com/img/13128_3.jpg" style="max-height: 50px;" /></div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">Description</div>
              <div class="ui-grid-col-6">{{dt.description}}</div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-6">Summary Description</div>
              <div class="ui-grid-col-6">{{dt.summaryDescription}}</div>
            </div>
          </div>
        </template>
      </p-carousel>

    </div>

  </div>








</div>