<rb-blockUI [blocked]="blockedDocument" #blockUI></rb-blockUI>
<!--<rb-blockUI [blocked]="blockedDocument" [target]="fileUpload" #blockUI></rb-blockUI>-->
<section id="artist-create" class="major">
    <div class="inner">
        <header class="major">
            <h2>Please sign up to use all features</h2>
        </header>
        <form [formGroup]="myForm" (ngSubmit)="onSignup()">
            <div class="field">
                <label for="description">Description</label>
                <input formControlName="description" type="text" id="description" #description class="form-control">
            </div>
            <div class="field">
                <rb-img-cropper></rb-img-cropper>
            </div>
            <div class="field">
                <rb-fileUpload name="uploadedFile" url="/rest/artist/submit" multiple="false" accept="image/*" maxFileSize="1000000"
                    (onUpload)="onUpload($event)" (onBeforeUpload)="onBeforeUpload($event)" #fileUpload>
                </rb-fileUpload>
            </div>
            <ul class="actions">
                <input type="button" value="Upload" class="special" (click)="upload()" />
            </ul>
        </form>
    </div>
</section>