<section id="artist-create" class="major">
    <div class="inner">
        <header class="major">
            <h2>Artist Creation</h2>
        </header>
        <form [formGroup]="myForm" (ngSubmit)="onArtisCreate()">
            <div class="field">
                <label for="description">Description</label>
                <input formControlName="description" type="text" id="description" class="form-control">
            </div>
            <ul class="actions">
                <li><input type="submit" [disabled]="!myForm.valid" value="Create Artist" class="special" /></li>
            </ul>
            <p></p>
            <p>TODO Must Move To Audiovisual Content</p>
            <p></p>
            <h3 class="box-title">Imagen de Perfil</h3>
            <div class="field box">
                <rb-profile-image></rb-profile-image>
                <!--<rb-img-cropper></rb-img-cropper>-->
            </div>
            <h3 class="box-title">Material Audiovisual</h3>
            <div class="field box">
                <rb-fileUpload name="uploadedFile" url="/rest/artist/submit" multiple="false" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"
                    (onBeforeUpload)="onBeforeUpload($event)" #fileUpload>
                </rb-fileUpload>
                <ul class="actions">
                    <li><input type="button" value="Upload" class="special" (click)="upload()" /></li>
                </ul>
            </div>
        </form>
    </div>
</section>