<section id="audiovisual" class="major">
    <div class="inner">
        <header class="major">
            <h2>AudiovisualContent</h2>
        </header>
        <form [formGroup]="myForm" (ngSubmit)="onAudiovisualContent()">
            <input formControlName="audioVisualID" type="hidden" id="audioVisualID" class="form-control">
            <div class="field">
                <label for="email">E-Mail</label>
                <input formControlName="email" type="email" id="email" #email class="form-control">
                <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
            </div>
            <div class="field">
                <label for="Name">User name</label>
                <input formControlName="Name" type="text" id="Name" class="form-control">
            </div>
            <div class="field">
                <label for="firstName">First name</label>
                <input formControlName="firstName" type="text" id="firstName" class="form-control">
            </div>
            <div class="field">
                <label for="lastName">Last name</label>
                <input formControlName="lastName" type="text" id="lastName" class="form-control">
            </div>
            <ul class="actions">
                <input type="submit" [disabled]="!myForm.valid" value="AudiovisualContent" class="special" />
            </ul>
        </form>
    </div>
</section>