<nav id="menu">
  <ul class="links">
    <li><a [routerLink]="['home']">Home</a></li>
    <li><a [routerLink]="['protected']">Protected</a></li>

    <rb-signin *ngIf="!isAuth()"></rb-signin>
    <rb-avatar *ngIf="isAuth()" [avatardata]="avatarDataSquare"></rb-avatar>
    <p-selectButton [options]="cities" [(ngModel)]="selectedCity"></p-selectButton>

    <div *ngIf="!isAuth()" class="bottom text-center">
      New here ? <a [routerLink]="['signup']"><b>Join Us</b></a>
    </div>

  </ul>
  <!--
  <ul class="actions vertical">
    <li><a href="#" class="button special fit">Get Started</a></li>
    <li><a href="#" class="button fit">Log In</a></li>
  </ul>
  -->
</nav>