--User Update
<section id="user-update" class="major">
    <div class="inner">
        <header class="major">
            <h2>User Update</h2>
        </header>
        <form [formGroup]="myForm" (ngSubmit)="onUserUpdate()">
            <input formControlName="userID" type="hidden" id="userID" class="form-control">
            <div class="field">
                <label for="email">E-Mail</label>
                <input formControlName="email" type="email" id="email" #email class="form-control">
                <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
            </div>
            <div class="field">
                <label for="userName">User name</label>
                <input formControlName="userName" type="text" id="userName" class="form-control">
            </div>
            <div class="field">
                <label for="firstName">First name</label>
                <input formControlName="firstName" type="text" id="firstName" class="form-control">
            </div>
            <div class="field">
                <label for="lastName">Last name</label>
                <input formControlName="lastName" type="text" id="lastName" class="form-control">
            </div>
            <ul class="actions">
                <li><input type="submit" [disabled]="!myForm.valid" value="Update User" class="special" /></li>
            </ul>
        </form>
    </div>
</section>

--Oauth Bar
<rb-oauth-bar></rb-oauth-bar>

--Audiovisual Update
<rb-audiovisual-update></rb-audiovisual-update>

--File Upload Audiovisual
<div class="field box">
    <rb-fileUpload name="uploadedFile" url="/rest/audiovisual/submit" multiple="false" accept="*/*" maxFileSize="100000000000000000" (onUpload)="onUpload($event)"
        (onBeforeUpload)="onBeforeUpload($event)" #fileUpload>
    </rb-fileUpload>
    <ul class="actions">
        <li><input type="button" value="Upload" class="special" (click)="upload()" /></li>
    </ul>
</div>
 
 --Audiovisual Create
 <rb-artist-create></rb-artist-create>